/* 公用部分 */
.sectionTitle {
  color: var(--gray);
  font-size: var(--small);
  letter-spacing: 2px;
  padding-bottom: 30px;
  font-weight: var(--bold);
}

.project {
  width: var(--desktop);
  margin: 0 auto;
  padding-top: 50px;
}

.projectWrapper {
  width: var(--home-wrapper);
  position: relative;
}

.projectImage {
  width: 100%;
}

.projectTitleWrapper {
  position: absolute;
  bottom: 10%;
  padding-left: 6%;
}

.projectTitle {
  height: 40px;
}

.projectSubTitle {
  font-size: 18px;
  padding-top: 20px;
  color: var(--white);
}

.projectDesc {
  width: var(--home-wrapper);
  padding: 20px 0;
  font-size: var(--medium);
  line-height: 28px;
}

.projectLink {
  display: inline-block;
  padding-top: 30px;
  color: var(--white);
  font-weight: var(--bold);
}

.portal {
  width: var(--desktop);
  margin: 0 auto;
  padding-top: 80px;
  box-sizing: border-box;
}

.portalContainer {
  width: var(--home-wrapper);
}

.portalListContainer {
  display: flex;
  flex-wrap: wrap;
}

.portalList {
  width: 50%;
  display: block;
  padding-bottom: 30px;
}

.portalLinkTitle {
  margin-bottom: 10px;
}

.portalLink {
  text-decoration: none;
}

.portalLinkWrapper {
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
}

.portalLinkWrapper:hover {
  opacity: 0.8;
}

.portalLinkIcon {
  width: 14px;
  margin-left: 8px;
}

.portalDesc {
  font-size: var(--small);
  color: var(--gray);
  line-height: 24px;
  width: 80%;
}
