.container {
  width: var(--screen);
  margin: 0 auto;
  padding: 50px 0;
}

.title {
  font-size: 28px;
}

.date {
  font-size: var(--small);
  color: var(--gray);
  padding: 30px 0;
}

.markdown {
  width: var(--post-wrapper);
}

.article * {
  color: var(--dark-gray);
  line-height: 32px;
}

.article h1 {
  font-size: var(--extra-large);
}

.article h2 {
  font-size: var(--large);
}

.article h3 {
  font-size: var(--medium);
}

.article h4 {
  font-size: var(--normal);
}

.article h5 {
  font-size: var(--small);
}

.article h6 {
  font-size: var(--extra-small);
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  color: var(--darker-gray);
  font-weight: var(--bold);
  padding-bottom: 20px;
}

.article p {
  font-size: var(--normal);
  padding-bottom: 20px;
}

.article a {
  word-wrap: break-word;
}

.article ul,
.article ol {
  padding-bottom: 20px;
}

.article ol li {
  list-style-type: decimal;
  padding-bottom: 10px;
}

.article ul li {
  list-style-type: circle;
}

.article ul li,
.article ol li {
  font-size: var(--normal);
}

.article ul li ul,
.article ul li ol,
.article ol li ul,
.article ol li ol {
  padding-left: 20px;
}

.article p code {
  color: var(--blue);
}

.article p strong {
  font-weight: var(--bold);
  padding-bottom: 20px;
}

.article p img {
  display: block;
  width: 100%;
  padding: 20px 0;
}

.article blockquote {
  border-left: 2px solid var(--blue);
  padding-left: 20px;
  margin-bottom: 40px;
}

.article blockquote p {
  padding-bottom: 0;
}

.article a {
  color: var(--blue);
  transition: var(--transition);
}

.article pre {
  font-size: var(--normal) !important;
  margin-bottom: 40px !important;
}

.article hr {
  border: 0;
}

.article pre code * {
  line-height: normal;
}

@media screen and (min-width: 1061px) {
  .article a:hover {
    color: var(--dark-blue);
  }
}

@media screen and (max-width: 1060px) {
  .title {
    font-size: 26px;
  }

  .article * {
    color: var(--dark-gray);
    line-height: 28px;
  }
}
