:root {
  /* colors */
  --main-font-color: #1a1d20;
  --white: #fff;
  --dark-gray: #515458;
  --gray: #656d78;
  --light-gray: #aab2bd;

  /* fonts */
  --extra-large: 22px;
  --large: 20px;
  --medium: 18px;
  --normal: 16px;
  --small: 14px;
  --extra-small: 10px;

  /* font weight */
  --bold: 600;
  --light: 300;

  /* responsive */
  --screen: 60%;
  --home-wrapper: 80%;

  /* others */
  --transition: all 0.2s ease;
}

@media screen and (max-width: 1440px) {
  :root {
    /* responsive */
    --screen: 80%;
  }
}

@media screen and (max-width: 1060px) {
  :root {
    --screen: 90%;
    --home-wrapper: 100%;

    --large: 18px;
    --medium: 16px;
    --normal: 14px;
    --small: 12px;
    --extra-small: 8px;
  }
}
